<!DOCTYPE html>
<html lang="en">
<head>
    <title> Spring Security Login </title>
    <link rel="stylesheet" href="css/registration.css">
</head>
<body>
    <div class="container">
        <form action="/login" method="post">
            <label> User Name: <input type="text" name="username">  </label>
            <label> Password: <input type="password" name="password">  </label>
            <input type="hidden" name="_csrf" value={{_csrf.token}}>
            <div class="buttons">
                <input type="submit" value="Sign In">
                <a href="register">registration</a>
            </div>
        </form>
    </div>
</body>
</html>
